name: JavaCI-PR

on:
  push:
    branches: [main]
    paths:
      - "gradle/libs.versions.toml"
      - "gradle/verification-metadata.xml"
      - "gradle/wrapper/gradle-wrapper.properties"
      - ".github/workflows/gradle-ci.yml"
  pull_request:
    branches: [main]
    paths-ignore:
      - "README.md"
      - "**/README.md"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - "pull_request_template.md"
      - "SECURITY.md"
      - "LICENSE"
      - ".github/**"
      - "!.github/workflows/gradle-ci.yml"
      - "renovate.json"
      - ".whitesource"
      - ".qlty/**"

permissions: read-all

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      # Set up build environment
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
        with:
          cache-disabled: true
      - name: Build with Gradle
        run: ./gradlew printVersion build
      - name: Upload Test reports
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-report-abort-mission-plugin-${{ matrix.os }}
          path: build/reports/tests/test
          retention-days: 5
